# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
dist/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# IDEs and editors
.idea/
.vscode/
*.iml
*.swp
*.swo